
.idea/
pnpm-lock.yaml
node_modules/
.next/
out/
package-lock.json

XDagHubChromeExtension/node_modules/
XDagHubChromeExtension/yarn.lock
XDagHubChromeExtension/package-lock.json
XDagHubChromeExtension/dist/
XDagHubChromeExtension/pnpm-lock.yaml
XDagHubChromeExtension/.idea


XDagPortal/node_modules/
XDagPortal/yarn.lock
XDagPortal/package-lock.json
XDagPortal/dist/
XDagPortal/pnpm-lock.yaml
XDagPortal/.next
XDagPortal/.idea
XDagPortal/.contentlayer